.chart_wrapper{
    background-color: #fff;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.page-container {
    text-align: center;
    width: 50vw;
    height:50vh;
}
.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem;
    }
    .page-container{
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:767.98px) {
    .page-container{
        width: 100vw;
        height: 100vh;
    }
    .padding {
        padding: 1rem;
    }
}
@media(max-width:540px){
    .page-container{
        width: 100vw;
        height: 100vh;
    }
    .padding {
        padding: 1rem;
    }
    .card{
        width:100vw;
        margin-left: -5rem;
    }
}

.padding {
    padding: 5rem;
}

.card {
    
    background: rgb(194, 32, 226);
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 7.5rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem;
    
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: tomato;
    border-bottom: 1px solid rgba(19, 24, 44, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box
}